@use "./variables" as *;

.cell {
  position: relative;
  background: $color-cell;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  user-select: none;

  &:hover {
    background: $color-cell-hover;
  }

  &__coord {
    position: absolute;
    top: 6px;
    left: 6px;
    font-size: 10px;
    color: #6a6b78;
    opacity: 0.7;
    pointer-events: none;
  }
}
