@use "./variables" as *;

.ship {
  position: relative;
  width: 70%;
  height: 70%;
  border-radius: 12px;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: center;

  &__body {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    opacity: 0.95;
  }

  &__hp {
    position: absolute;
    bottom: -10px;
    right: -10px;

    width: 22px;
    height: 22px;
    border-radius: 999px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 12px;
    font-weight: 800;

    background: #111;
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: #fff;
  }

  &--a .ship__body { background: $ship-color-a; }
  &--b .ship__body { background: $ship-color-b; }

  // facing rotation
  &--facing-n { transform: rotate(0deg); }
  &--facing-e { transform: rotate(90deg); }
  &--facing-s { transform: rotate(180deg); }
  &--facing-w { transform: rotate(270deg); }
}
